<!DOCTYPE html>
<html>
<head>
    <title>AbitInfo</title>
    <script src="dist/bower-libs.min.js"></script>
    <link href="dist/bower-style.min.css" rel="stylesheet" />
    <link href="https://bootswatch.com/paper/bootstrap.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>-->
    <script src="dist/AbitInfo-ng.min.js"></script>
</head>
<body ng-app="abitApp" style="height:100%">
    <nav ng-controller="indexController as index" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span></button><a class="navbar-brand" href="#">Abit info</a>
            </div>
            <!--<div class="navbar-collapse collapse" id="navbar">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" type="text"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" type="password"/>
                    </div>
                    <button class="btn btn-success" type="submit">Sign in</button>
                </form>
            </div>-->
            <ul class="nav navbar-nav navbar-right" id="rightNavLinks">
                <li data-ng-hide="!index.authentication.isAuth"><a href="#/">Welcome {{index.authentication.userName}} {{index.loadingService}}</a></li>
                <li data-ng-hide="!index.authentication.isAuth" ng-include="'client/app/notifications/notification.html'"></li>
                <li data-ng-hide="!index.authentication.isAuth"><a ng-click="index.logOut()"><span class="glyphicon glyphicon glyphicon-log-out"></span>Log out</a></li>
                <li data-ng-hide="index.authentication.isAuth"><a ng-click="index.SignUp()">Register</a></li>
                <li data-ng-hide="index.authentication.isAuth"><a ng-click="index.LogIn()">Log In</a></li>

            </ul>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="container" id="page-content-wrapper" style="padding-top: 80px;">
        <div class="container-fluid">
            <div ui-view="">
                &nbsp;
            </div>
        </div>
    </div>
    <footer style="bottom: 0;left: 0;position: fixed;">
        <div class="container">
            <p>
                &copy; Nazarii Shkatula 2015
            </p>
        </div>
    </footer>
</body>
</html>