
<div class="container" id="loginRegistrModal">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-class="{'active': auth.currTab == 1}" ng-click="auth.currTab = 1">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-class="{'active': auth.currTab == 2}" ng-click="auth.currTab = 2">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12" ng-switch on="auth.currTab">
                            <form id="login-form" role="form" ng-switch-when="1" ng-controller="loginController as login">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" data-ng-model="login.loginData.userName">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" data-ng-model="login.loginData.password" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <button name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-lg btn-info btn-block" type="submit" data-ng-click="login.login()" ng-disabled="login.disabled">Login</button>



                                        </div>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <button class="form-control btn btn-lg btn-info btn-block btn-facebook"
                                                    data-ng-click="login.authExternalProvider('Facebook')">
                                                <img class="fb-img" src="http://music.uoregon.edu/sites/music2.uoregon.edu/files/facebook_logo.png" alt="Facebook" height="24" width="24">
                                                
                                                Facebook
                                            </button>
                                        </div>

                                        <div class="col-sm-8 col-sm-offset-1">
                                            <div data-ng-hide="login.message == ''" class="alert alert-danger">
                                                {{login.message}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" role="form" ng-switch-when="2" ng-controller="signupController as registr">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" data-ng-model="registr.registrationData.username" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" data-ng-model="registr.registrationData.email" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" data-ng-model="registr.registrationData.password" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" check="registr.registrationData.password" equals="registr.registrationData.password" class="form-control" placeholder="Confirm Password" data-ng-model="registr.registrationData.confirmPassword" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit" class="form-control btn btn-register" type="submit" data-ng-click="registr.signUp()" ng-disabled="registr.disabled"> Submit </button>
                                                <div data-ng-hide="registr.message == ''" data-ng-class="(registr.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                                    {{registr.message}}
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>